body{
    background-size: cover;

}
.heading{
    background:linear-gradient(cyan 0%,white 100%);
    width: 100%;
    font-size: 25px;
}
.note{
    font-size: 15px;
}
.heading:hover{
    background: url("stars.gif");
    color:white;
    background-color:black;
}
.play{
    background: rgb(0, 0, 0);
    width:30%;
    font-size:23px;
    color:rgb(255, 255, 255);
}
canvas{
    border:5px solid black;
    box-shadow:5px 5px 20px rgb(0, 17, 255);
    border-radius:20px ;
    margin-top:140px;
}